@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Lato&family=Permanent+Marker&family=Russo+One&family=Playfair+Display&display=swap');

html {
    font-family: "Playfair Display";
}

body {
    width: 100%;

    /*background: rgb(17,126,187);
    background: linear-gradient(0deg, rgba(17,126,187,1) 0%, rgba(21,228,236,1) 100%);
    */
    background: #ECF7FD;
    
    background-repeat: no-repeat;
    color: black;
}

.wide {
    width: 100%;
}

.full-page-size {
    width: 100%;
}

.action-button {
    transition: 0.3s all;
    padding: 5px 10px;
    width: 100%;
    font-family: "Permanent Marker";
    font-size: 24px;
    border: 1px solid black;
    background: #106593;
    color: white;
    height: 70px;
}

.action-button:hover {
    cursor: pointer;
    background: #0C4C6E;
}

.action-button:disabled {
    background-color: grey !important;
}

.action-button:disabled:hover {
    cursor: initial !important;
}

.help-modal {
    padding: 0 25px 10px 25px;
    position: absolute;
    z-index: 3;
    font-family: "Playfair Display";
    background: white;
    top: 75px;
    left: 5%;
    width: 90%;
    text-align: center;
}

.help-modal-title {
    font-weight: bold;
    text-align: center;
}

.help-modal-element .ml-1, .help-modal-element .ml-2,
 .help-modal-element .ml-3, .help-modal-element .ml-4,
 .help-modal-element .ml-5 {
    text-align: left;
}

.help-modal-image {
    max-width: 100%;
    margin: 20px auto;

}
.help-modal ul {
    text-align: left;
    list-style-type: none;
}

.help-modal li:before {
    content: "- "
}

.help-modal h4, .help-modal h5, .help-modal p {
    text-align: left;
}

.help-modal h5, .help-modal h4 {
    margin-top: 0.5rem;
    font-weight: bold;
}


.help-modal-shadow {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6564DB;
    opacity: 0.8;
    
}

.room-modal {
    position: fixed;
    z-index: 3;
    font-family: "Permanent Marker";
    background: white;
    top: 75px;
    left: 5%;
    width: 90%;
    height: 400px;
    text-align: center;
}

.room-modal-shadow {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0C4C6E;
    opacity: 0.8;
}

.room-modal-content {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    color: black;
    text-align: center;
}

.room-modal-title {
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
}

.room-modal-label {
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 0;
}

.room-modal-input {
    height: 35px;
    font-size: 16px;
}

.room-modal-data-box {
    margin-bottom: 25px;
}

.modal-button {
    position: absolute;
    top: 250px;
    left: calc(50% -  75px);
    font-size: 16px;
    width: 150px;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-family: "Amatic SC";
    font-size: 120px;
    color: #106593;
    text-transform: uppercase;
    text-shadow: 
    2px 2px 0px black,
    -1px -1px 0px #2fe8ee;
    line-height: 1em;
}

.subtitle {
    margin-bottom: 25px;
    padding: 2px 4px;
    text-align: center;
    font-style: oblique;
    font-family: "Amatic SC";
    font-size: 60px;
    line-height: 1em;
}

.landing-buttons-panel {
    padding: 10px;
    width: 100%;
    background: white;
    border: 1px solid #106593;
}

.help-button {
    background: #6564DB;
    color: white;
}

.help-button:hover {
    background: #4C49D4;
}

.name-input input {
    width: 100%;
    max-width: 100%;
    color: black;
    height: 40px;
    font-size: 24px;
    font-weight: bold;

}

.join-button-container {
    width: 275px;
    padding: 0;
    margin-top: 15px;
}

.room-code-container {
    margin-top: 15px;
    color: black;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    width: 275px;
}

.room-code-container input {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-family: "Permanent Marker";
}

.dev-log-container {
    overflow: hidden;
    position: relative;
    background-color: #ECF7FD;
    margin-bottom: 25px;
}

.dev-log-container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.dev-log {
    padding: 10px;
    position: relative;
    font-family: "Playfair Display";
    overflow: auto;
    scrollbar-width: none;
}

.dev-log-element {
    margin-bottom: 20px;
}

.dev-log-element h2, .dev-log-element h3 {
    font-weight: bold;
}

.dev-log-title {
    margin-top: 50px;
    font-family: "Playfair Display";
    font-weight: bold;
}

.dev-log-element ul {
    list-style-type: none;
}

.dev-log-element li:before {
    content: "- "
}

footer {
    width: 100%;
    background: #106593;
    color: white;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.info-panel {
    background: #2FE8EE;
    width: 100%;
    height: 50px;
    font-size: 110%;
}

.info-panel .container {
    height: 100%;
}

.info-panel-text {
    font-family: "Permanent Marker";
    margin-right: 20px;
}

.leave-button {
    height: 90%;
    margin: 5% 0%;
    width: initial;
    background-color: #ECF7FD;
    color: black;
    font-size: inherit;
}

.leave-button:hover {
    background: #DAEFFB;
}

.teams-container {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Permanent Marker";
}

.team {
    width: 50%;
    min-width: 250px;
    margin-bottom: 25px;
}

.team-name {
    text-align: center;
    font-size: 44px;
    text-decoration: underline;
    margin-right: 25px;
}

.join-team-button {
    font-size: 20px;
    height: initial;
    vertical-align: bottom;
}

.team-member {
    font-size: 28px;
}

.clue-giver::after {
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06e";
}

.start-game-button-container {
    position: absolute;
    bottom: 5vh;
    left: calc(50% - 150px);
    width: 300px;
}

        .words-panel {
            margin: 10px auto 10px;
            width: 100%;
            text-align: center;
            max-width: 500px;
            border: 1px solid #106593;
        }

        .words-panel-word {
            transition: 0.3s all;
            background: #106593;
            color: white;
            height: 2.75rem;
            font-family: "Permanent Marker";
            font-size: 1.3rem;
        }

        .guessed-word::after {
            margin-left: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00c";
        }

        .hidden-word {
            transition: 0.3s all;
            background: grey;
        }

        hr {
            background: white;
            margin: 0 !important;
        }

        .game-input-panel {
            text-align: center;
            font-family: "Permanent Marker";
            height: 60px;
            width: 100%;
            max-width: 500px;
            margin: 0 auto 10px;
        }

        .submit-guess-input-container, .submit-bid-input-container {
            margin-right: 5px;
            width: 100%;
        }

        .submit-bid-input-container {
            font-family: "Permanent Marker";
            font-size: 20px;
        }

        .submit-guess-input, .submit-bid-input {
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 36px;
            font-family: "Permanent Marker";
        }

        .player-bid-text {
            width: 200px;
            
        }

        .player-bid-text-number {
        }

        .arrow-down {
            width: 0; 
            height: 0; 
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            
            border-top: 25px solid #106593;
        }

        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            
            border-bottom: 25px solid #106593;
        }

        .arrow-down:hover {
            cursor: pointer;
            border-top: 25px solid #0C4C6E;
        }

        .arrow-up:hover {
            cursor: pointer;
            border-bottom: 25px solid #0C4C6E;
        }

        .submit-guess-button-container, .submit-bid-button-container {
            min-width: 75px;
            height: 60px;
        }

        .submit-guess-button, .submit-bid-button {
            height: 100%;
            font-size: 16px;
        }

        .ready-button-ready {
            background: forestgreen;
        }

        .ready-button:hover {
            background: forestgreen;
        }

        .game-info-panel {
            font-family: "Playfair Display";
            width: 100%;
        }

        .game-update {
            padding: 5px 5px;
            border-bottom: 1px solid white;
        }

        .game-update-clue {
            background: #EF476F;
            color: white;
            font-weight: bold;
        }

        .game-update-guess-correct {
            background: #7B9E87;
            color: white;
            font-weight: bold;
        }

        .game-update-guess-incorrect {
            background: #E5C1BD;
            color: black;
        }

        .game-update-bid {
            background: #526760;
            color: white;
        }

        .game-update-phase-change {
            background: #6564DB;
            color: white;
        }

        /* CLOCK CSS from CSStricks */

        /* Sets the containers height and width */
        .base-timer {
            position: relative;
            height: 300px;
            width: 300px;
        }

        /* Removes SVG styling that would hide the time label */
        .base-timer__circle {
            fill: none;
            stroke: none;
        }

        /* The SVG path that displays the timer's progress */
        .base-timer__path-elapsed {
            stroke-width: 7px;
            stroke: grey;
        }

        .base-timer__label {
            position: absolute;
            
            /* Size should match the parent container */
            width: 300px;
            height: 300px;
            
            /* Keep the label aligned to the top */
            top: 0;
            
            /* Create a flexible box that centers content vertically and horizontally */
            display: flex;
            align-items: center;
            justify-content: center;

            /* Sort of an arbitrary number; adjust to your liking */
            font-size: 48px;
        }

        .base-timer__path-remaining {
            /* Just as thick as the original ring */
            stroke-width: 7px;

            /* Rounds the line endings to create a seamless circle 
            stroke-linecap: round; */

            /* Makes sure the animation starts at the top of the circle */
            transform: rotate(90deg);
            transform-origin: center;

            /* One second aligns with the speed of the countdown timer */
            transition: 1s linear all;

            /* Allows the ring to change color when the color value updates */
            stroke: currentColor;
        }

        .base-timer__svg {
            /* Flips the svg and makes the animation to move left-to-right */
            transform: scaleX(-1);
        }